{% extends 'shucks/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="card mt-4 mb-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                    <div class="card-body">
                        shipping info
                    </div>
                </div>
                <div class="card mt-4 mb-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                    <div class="card-header">
                        <a href="{% url 'cart' %}" class="btn btn-outline-secondary">Back to cart</a>
                    </div>
                    <div class="card-body">
                        Order summary
                        <hr>
                    <table class="table table-stripped table-md mb-3 t-2">
                     <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td> {{item.product.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>Ksh {{item.get_total}}</td>
                    </tr>
                    {% endfor %} 
                </tbody>

                </table>
                        <p class="card-text text-muted" style="font-size: small; letter-spacing: 2px; text-transform: uppercase;">
                        items: <strong>{{order.get_cart_items}}</strong></p>
                        <p class="card-text text-muted" style="font-size: small; letter-spacing: 2px; text-transform: uppercase;">
                        total price: <strong>Ksh{{order.get_cart_total}}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock content %}